@font-face {
    font-family: "Inter Medium";
    src: url('../fonts/Inter-Medium.ttf') format('opentype');
}

@font-face {
    font-family: "Inter Bold";
    src: url('../fonts/Inter-Bold.ttf') format('opentype');
}

@font-face {
    font-family: "Inter Black";
    src: url('../fonts/Inter-Black.ttf') format('opentype');
}